{
  "presets": [
    ["env", {
      "loose": true,
      "useBuiltIns": true,
      "modules": "commonjs",
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread"
  ]
}

